{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

<h1>Mon panier</h1>

    <div class='container'>
        {% for cu in cartUser %}
            <div class='container__cart'>
                {% set product = cu.product[0] %}
                {% set totalRow = product.price * cu.quantity %}
                <div class='container__cart--item'>
                    <h2>{{ product.name }}</h2>
                     <img src="{{ asset('/uploads/'~ product.photo)}}" style="max-width: 200px"/>
                    <p>qunatité: {{ cu.quantity }}</p>
                    <p>Total article : {{totalRow}}€</p>
                </div>
                
            </div>
        {% endfor %}
    </div>
        <p class='total'>Prix Total: {{ total }}€</p>
        <a class="button__primary paid" href="{{ path('app_stripe')}}"> 
        Payer
    </a>

{% endblock %}
