    {% extends 'base.html.twig' %}

{% block body %}

<div class="container__detailProduct">
    <div class="container__detailProduct--info">
        <h1>{{prodDetail.name}}</h1>
        <div class="container__detailProduct--img">
            {% if prodDetail.photo is not null %}
                <img src="{{ asset('/uploads/'~ prodDetail.photo) }}" />
            {% endif %}
        </div>
    </div>
    <div class="container__detailProduct--action">
        <p>{{prodDetail.price}}€</p>
            {% if app.user %}
                <a onclick="addInCart ({{prodDetail.id}})" class="button__primary">Ajouter au panier</a>
            {% endif %}
        <p>{{prodDetail.description|raw|striptags }}</p>
    </div>
</div>


{% endblock %}

{% block javascripts %}

<script>
    async function addInCart(id){
        $.ajax({
            method: "POST",
            url: "/cart/" + id,
            async: true,
        })
            .then(response => {
                console.log(response);
            })
            .catch(error =>{
                console.log(error);
            })
    }
</script>

{% endblock %}


