{% extends 'base.html.twig' %}

{% block body %}

<div class="container__detailProduct">
    <div class="container__detailProduct--info">
        <h1>{{prodDetail.name}}</h1>
        <div class="container__detailProduct--img">
            {% if prodDetail.photo is not null %}
                <img src="{{ asset('/uploads/'~ prodDetail.photo) }}" />
            {% endif %}
        </div>
    </div>
    <div class="container__detailProduct--action">
        <p>{{prodDetail.price}}€</p>
            {% if app.user %}
                <a href="{{path('productInCart', {'id':prodDetail.id})}}"class="button__primary">Ajouter au panier</a>
            {% endif %}
        <p>{{prodDetail.description|raw|striptags }}</p>
    </div>
</div>


{% endblock %}


