{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="container__card">
    {% for p in prod %}
        <div class="card">
            <a href="{{path('product_detail', {'id':p.id})}}">
                {% if p.photo is not null %}
                <div class="card__img">
                    <img src="{{ asset('/uploads/'~ p.photo) }}"/>
                </div>
                {% endif %}
                <div class="card__info">
                    <p>{{p.name}}</p>
                    <div class="card__info--price">
                        <p>prix : </p>
                        <p>{{p.price}} €</p>
                    </div>
                    <a href="{{path('productInCart', {'id':p.id})}}">
                        Ajouter au panier</a>
                    </a>
                </div>
        </div>
    {% endfor %}
</div>

{% endblock %}


