<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{asset('css/reset.css')}}" />
            <link rel="stylesheet" href="{{asset('css/default.css')}}" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">
                            <img src="/img/first.png">
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{{ path('app_cart') }}">Mon panier</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN')%}
                        <li>
                            <a href="/admin">Dashboard Admin</a>
                        </li>
                    {% endif %}
                </ul>
                <ul>
                {% if app.user %}
                    <li>
                        <a href="{{ path('app_userInfo') }}"><i class="fa-solid fa-house"></i>Mon compte</a>
                    </li>
                    <li>
                        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Se déconnecter</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/login"><i class="fa-solid fa-user"></i>Se connecter</a>
                    </li>
                    <li>
                        <a href="/register"><i class="fa-solid fa-user-plus"></i>Créer un compte</a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}
        
        
        {% endblock %}
    </body>
</html>
